[submodule "mobile_sdk/SalesforceMobileSDK-iOS/external/shared"]
	path = external/shared
    url = git:https://github.com/forcedotcom/SalesforceMobileSDK-Shared.git
[submodule "mobile_sdk/SalesforceMobileSDK-Android/external/shared"]
	path = external/shared
    url = git:https://github.com/forcedotcom/SalesforceMobileSDK-Shared.git
